---
---

.connections-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.connections-widget {
  width: fit-content;
}

.connections-header { // Date - Game # - Mistakes
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}

.connections-grid {
  line-height: 1;
  align-self: flex-start;
  // do not need to define a CSS grid because YAML formatting is text/strings
}




